:root {
    --primary-text-color: #757575 ;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --logo-black-color: #000000;
    --white-color: #FFFFFF;
    --transparent-white: rgba(255, 255, 255, 0.6);
    --background-color: #F5F4FA;
    --secondary-bg-color: #2F303A;
}



body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Основний колір тексту : #757575 */

/* Вторинний колір тексту : #212121 */

/* Білий колір : #FFFFFF */

/* Прозорий білий для пошти і тел в футері : rgba(255, 255, 255, 0.6) */

/* Колір акценту : #2196F3 */

/* Чорнрий колір для лого : #000000 */

/* Вторинний колір фону : #F5F4FA */



/* Logo */

.logo {
    font-family: "Raleway", sans-serif;
    color: var(--accent-color) ;
}


.studio {
    color: var(--logo-black-color) ; 
}

.studio-bottom {
    color: var(--white-color);
}


/* Site-nav */

.site-nav .link {
    color: var(--title-text-color) ;
}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);

}

/* Contacts */

.contact-list .link {
    color: var(--primary-text-color);
}

.contact-list .link:hover, .contact-list .link:focus {
    color: var(--accent-color);

}



/* Баннер */

.banner {
    background-color: var(--secondary-bg-color);
}

.banner-title {
    color: var(--white-color);
    
}

.banner-button {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border: 0px;
}

/* Section */

.section-title {
    color: var(--title-text-color) ;
}


/* Features */

.feature-list .title {
    color: var(--title-text-color);
}

/* Team */

.section.team {
    background-color: var(--background-color);
}

.team-list .title {
    color: var(--title-text-color);
}

/* Buttons */

.button-list {
    color: var(--title-text-color);
    
}

.button-list .button {
    background-color: var(--background-color);
    border: 0px;
    cursor: pointer;
}

.button-list .button:hover, .button-list .button:focus {
    color: var(--white-color);
    background-color: var(--accent-color) ;
   
}

/* Футер */


.footer {
    background-color: var(--secondary-bg-color);
}

/* Address */

.address-list .street-name {
    color: var(--white-color);
}

.address-list .contact-info {
    color: var(--transparent-white);
}


